/* полупрозрачный фон*/
.space  {
   height: 100vh;
	width: 100vw;
	color: white;
	position: absolute;	
	background-color: rgba(189,226,218,0.2);
	background-color: rgb(189,226,218,0.2);/* прозрачность для IE 8*/
	text-transform:capitalize;
	padding-top:15px;
	background-image:url('../image/gerb1.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50vh;
	display: flex;
	justify-content: center;
	word-break: keep-all;
	text-align: center;
	z-index: -3;
	
	}
/* полупрозрачный фон конец*/
.inf p{
    margin-left:auto;
	 margin-right:auto;
	height: 50vh;
	width: 80vw;
	color: white;	
	font-family: Verdana;
	font-size: 3vh;	
	padding-top:15px;
	display: flex;
	justify-content: center;
	word-break: keep-all;
	text-align: center;
	
}

